<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAuthenticationService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://api.trustev.com/v1/AuthenticationService.svc/soap"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService"
                contract="v1.Services.Authentication.IAuthenticationService"
                name="BasicHttpBinding_IAuthenticationService" />
        </client>
    </system.serviceModel>
</configuration>