<?xml version="1.0"?>
<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings xdt:Transform="Replace">
    <add key="TrustevApiUsername" value="testtrustev" />
    <add key="TrustevApiPassword" value="6af92077e0f325a0df39f694cfecc113" />
    <add key="TrustevApiSecret" value="5160574c3159333093f1c7bf92756366" />
    <add key="TrustevJSPublicKey" value="" />
    <add key="TrustevJSPrivateKey" value="" />
    <add key="TrustevApiUrl" value="https://api.trustev.com/v1.1/"/>
  </appSettings>
</configuration>  